<h1 class="index-headline">Rails Journal</h1>

<p class="index-count">Now serving <%= Article.public_count %> articles and counting...</p>

<ul class="index-list">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <a href="/articles/<%= article.id %>">
          <%= link_to article.title, article %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, class: "index-to-new" %>