/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  font-family: "Open Sans";
}
body, ul, nav {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: #1DDBCF;
  width: 100%;
  padding: 10px;
}

/*****************************
 *                           *
 *  Index/Main/Landing Page  *
 *                           *
 *****************************/

.index-headline,
.index-count,
.index-list,
.index-to-new {
  display: block;
}

.index-headline {
  padding: 20px 0;
}

.index-count {
  padding: 10px 0;
}

.index-list {
  padding: 20px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background: rgb(176, 180, 231);
  li {
    padding: 5px;
  }
}

.index-to-new {
  align-self: flex-end;
  padding: 10px;
}

/*****************************
 *                           *
 *      New Article Page     *
 *                           *
 *****************************/

.input-title {
  padding: 10px 0;
  #article_title {
    width: 80%;
    height: 24px;
  }
}

.input-submit {
  padding: 10px 0;
}

/*****************************
 *                           *
 *          Nav Bar          *
 *                           *
 *****************************/

.nav-list {
  width: 100%;
  display: flex;
  gap: 105px;
  justify-content: center;
}

/*****************************
 *                           *
 *      Rich Text Styles     *
 *                           *
 *****************************/

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

trix-editor {
  height: 300px;
}